{% extends 'principal/base.html' %}
{% block page_title %}Calculadora de IMC{% endblock %}
{% block breadcrumb_items %}
<li class="is-active"><a href="#" aria-current="page">IMC</a></li>
{% endblock %}
{% block page_subtitle %}Calcule seu Índice de Massa Corporal{% endblock %}
{% block content %}
            <div class="container">
                <form id="imc-form"  action="{% url 'imc:calcular_imc' %}" method="post">
                    {% csrf_token %}
                    <label class="label">Altura (m):</label>
                    <div class="control">
                        <input type="number" id="altura" name="altura" step="0.01" class="input" required>
                    </div>
                    <label class="label">Peso (kg):</label>
                    <div class="control">
                        <input type="number" id="peso" name="peso" step="0.1" class="input" required>
                    </div>
                    <button type="submit" class="button is-link">Calcular IMC</button>
                </form>
            </div>
 {% endblock %}       
