{% extends "principal/base.html" %}
{% block page_title %}Resultado do Cálculo do IMC{% endblock %}
{% block breadcrumb_items %}
<li><a href="{% url 'imc:index' %}">IMC</a></li>
<li class="is-active"><a href="#" aria-current="page">Resultado</a></li>
{% endblock %}
{% block page_subtitle %}Veja o resultado do seu Índice de Massa Corporal{% endblock %}
{% block content %}
        <div id="situacao_imc" data-classificacao="{{classificacao|escapejs}}"></div>
        <div class="container">
            <h1 class="title has-text-centered">Resultado do Cálculo do IMC</h1>
            <div class="box">
                <p><strong>Peso:</strong> {{ peso }} kg</p>
                <p><strong>Altura:</strong> {{ altura }} m</p>
                <p><strong>IMC:</strong> {{ imc }}</p>
                <p><strong>Classificação:</strong> {{ classificacao }}</p>
            </div>
            <div class="has-text-centered">
                <a href="{% url 'imc:index' %}" class="button is-primary">Calcular Novamente</a>
            </div>
        </div>
{% endblock %}