<!-- Footer do Projeto -->
<footer class="footer has-background-dark has-text-light">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">
                <p class="title is-5 has-text-light">
                    <i class="fas fa-graduation-cap"></i> DevWeb 2025.2
                </p>
                <p class="subtitle is-6 has-text-light">
                    Desenvolvimento Web - Sala
                </p>
            </div>
            <div class="column">
                <p class="title is-6 has-text-light">
                    <i class="fas fa-link"></i> Links Úteis
                </p>
                <ul style="list-style: none;">
                    <li><a href="https://docs.djangoproject.com/" class="has-text-info" target="_blank">Documentação Django</a></li>
                    <li><a href="https://bulma.io/documentation/" class="has-text-info" target="_blank">Documentação Bulma</a></li>
                    <li><a href="https://fontawesome.com/" class="has-text-info" target="_blank">Font Awesome Icons</a></li>
                </ul>
            </div>
            <div class="column">
                <p class="title is-6 has-text-light">
                    <i class="fas fa-info-circle"></i> Sobre o Projeto
                </p>
                <p class="is-size-7">
                    Este projeto demonstra o uso de templates Django com herança e inclusão, utilizando o framework CSS Bulma para estilização.
                </p>
            </div>
        </div>
        <hr class="has-background-light">
        <div class="columns is-mobile">
            <div class="column">
                <p class="is-size-7">
                    <strong class="has-text-light">
                        <i class="fas fa-code"></i> ProjSala
                    </strong> - Sistema de Demonstração
                </p>
            </div>
            <div class="column">
                <p class="is-size-7">
                    <i class="far fa-copyright"></i> 2025 - Todos os direitos reservados
                </p>
            </div>
            <div class="column">
                <p class="is-size-7">
                    Desenvolvido com <i class="fas fa-heart has-text-danger"></i> usando Django & Bulma
                </p>
            </div>
        </div>
    </div>
</footer>
